version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:16.16.0
    steps:
      - checkout
      - run:
          command: |
            npm install
            npm run test

workflows:
  build_test_deploy:
    jobs:
      - build